    <% content_for :head do %>
      <meta name="description" content="Добави собствени думи към Спиндермаан преводача.">
      <title>Добави дума | Спиндермаан преводач</title>
    <% end %>        

    <div class="navbar navbar-default navbar-fixed-top navbar-shrink">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Спиндермаан преводач</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            <li><a href="<%= spindi2bg_path %>">Спиндермаан - Български</a></li>
            <li><a href="<%= bg2spindi_path %>">Български - Спиндермаан</a></li>
          </ul>

        </div>
      </div>
    </div>

    <!-- Page Content -->
    <section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Добави дума</h2>
                <hr class="star-primary">
                <p>Преводачът все още не знае всички думи, а езикът на Бат Спинди постоянно се развива. Помогни му като добавяш думи в речника. Не забравяй, че Спиндермаан пише на кирилица.</p>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <% flash.each do |type, message| %>
                <div class="alert alert-<%= type %> fade in">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <%= message %>
                </div>
                <% end %>

                <% if @word.errors.any? %>
                <div class="alert alert-warning fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <ul>
                    <% @word.errors.each do |field, msg| %>
                        <% if field == :spindi %>
                        <li>Спинди дума: <%= msg %><li>
                        <% elsif field == :bg %>
                        <li>БГ дума: <%= msg %><li>
                        <% else %>
                        <li><%= msg %></li>
                        <% end %>                                
                    <% end %>
                </ul>

                </div>
                <% end %>

                <%= form_for(@word, html: { role: "form" }) do |f| %>
                    <div class="form-group">
                    <%= f.label :spindiword, "Дума на спиндермаански" %>
                    <%= f.text_field :spindi, class: "form-control", maxlength: "30", required: "true" %>
                    </div>
                    <div class="form-group">
                    <%= f.label :bgword, "Превод на български" %>
                    <%= f.text_field :bg, class: "form-control", maxlength: "30", required: "true" %>
                    </div>
                    <div class="form-group">
                    <%= recaptcha_tags %>
                    </div>
                    <button type="submit" class="btn btn-success center-block">Добави</button>
                <% end %>            
            </div>
        </div>

    </div>
    </section>
